<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Editar Eventos | Pascual Al Día</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	</head>

	<body>
		<nav class="bg-white border-gray-200 dark:bg-gray-900">
			<div
				class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
			>
				<a
					href="#"
					class="flex items-center space-x-3 rtl:space-x-reverse"
				>
					<img
						src="https://flowbite.com/docs/images/logo.svg"
						class="h-8"
						alt="# Logo"
					/>
					<span
						class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
						>Pascual al Día</span
					>
				</a>
				<button
					data-collapse-toggle="navbar-default"
					type="button"
					class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
					aria-controls="navbar-default"
					aria-expanded="false"
				>
					<span class="sr-only">Abrir menú principal</span>
					<svg
						class="w-5 h-5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 17 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M1 1h15M1 7h15M1 13h15"
						/>
					</svg>
				</button>
				<div
					class="hidden w-full md:block md:w-auto"
					id="navbar-default"
				>
					<ul
						class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
					>
						<li>
							<a
								href="/inicioadmin"
								class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
								aria-current="page"
								>Eventos</a
							>
						</li>
						<li>
							<a
								href="/noticiasadmin"
								class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
								>Noticias</a
							>
						</li>
						<li>
							<a
								href="/"
								class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
								>Cerrar sesión</a
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<main class="container mx-auto px-4 py-8">
			<div class="max-w-screen-xl mx-auto p-4">
				<h1 class="text-2xl font-bold mb-4">Editar Evento</h1>

				<% if (msgestado && msgestilo) { %>
				<div
					class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
					role="alert"
					style="margin-top: 25px"
				>
					<svg
						class="flex-shrink-0 inline w-4 h-4 me-3"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						viewBox="0 0 20 20"
					>
						<path
							d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
						/>
					</svg>
					<span class="sr-only">Info</span>
					<div>
						<span class="font-medium">Success alert!</span>
						<%= mensaje %>
					</div>
				</div>
				<% } else if (msgestado && !msgestilo) { %>
				<div
					class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
					role="alert"
					style="margin-top: 25px"
				>
					<svg
						class="flex-shrink-0 inline w-4 h-4 me-3"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						viewBox="0 0 20 20"
					>
						<path
							d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
						/>
					</svg>
					<span class="sr-only">Info</span>
					<div>
						<span class="font-medium">¡Error!</span>
						<%= mensaje %>
					</div>
				</div>
				<div class="alert alert-danger" role="alert"></div>
				<% } %>

				<form action="/editareventos/<%= evento._id %>" method="POST">
					<label for="nombre">Nombre:</label>
					<input
						type="text"
						id="nombre"
						name="nombre"
						value="<%= evento.nombre %>"
						required
					/>
					<br />
					<label for="descripcion">Descripción:</label>
					<textarea id="descripcion" name="descripcion" required>
<%= evento.descripcion %></textarea
					>
					<br />
					<label for="fechaInicio">Fecha Inicio:</label>
					<input
						type="datetime-local"
						id="fechaInicio"
						name="fechaInicio"
						value="<%= evento.fechaInicio.toISOString().slice(0, 16) %>"
						required
					/>
					<br />
					<label for="fechaFin">Fecha Fin:</label>
					<input
						type="datetime-local"
						id="fechaFin"
						name="fechaFin"
						value="<%= evento.fechaFin.toISOString().slice(0, 16) %>"
						required
					/>
					<br />
					<label for="ubicacion">Ubicación:</label>
					<input
						type="text"
						id="ubicacion"
						name="ubicacion"
						value="<%= evento.ubicacion %>"
						required
					/>
					<br />
					<label for="categoria">Categoría:</label>
					<input
						type="text"
						id="categoria"
						name="categoria"
						value="<%= evento.categoria %>"
						required
					/>
					<br />
					<label for="organizador">Organizador:</label>
					<input
						type="text"
						id="organizador"
						name="organizador"
						value="<%= evento.organizador %>"
						required
					/>
					<br />
					<label for="instructivos">Instructivos:</label>
					<input
						type="text"
						id="instructivos"
						name="instructivos"
						value="<%= evento.instructivos %>"
					/>
					<br />
					<label for="imagenes"
						>Imágenes (separadas por comas):</label
					>
					<input
						type="text"
						id="imagenes"
						name="imagenes"
						value="<%= evento.imagenes.join(',') %>"
					/>
					<br />
					<button
						type="submit"
						class="text-white bg-green-500 hover:bg-green-700 font-semibold py-2 px-4 rounded"
					>
						Actualizar
					</button>
					<button
						type="button"
						class="text-white bg-blue-500 hover:bg-blue-700 font-semibold py-2 px-4 rounded"
						onclick="window.location.href='/inicioadmin';"
					>
						Volver
					</button>
				</form>
			</div>
		</main>
	</body>
</html>
